name: Lint

on:
  - push
  - workflow_dispatch

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm ci
      - name: Run ESLint
        run: npx eslint . --quiet
